@model IEnumerable<NorthwindMVC.Customer>

@{
    ViewData["Title"] = "Customer List";
}

<h1>Customer List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="CustomerEdit" asp-route-id="@item.CustomerId">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
